header {
  height: 20vh;
  width: 100vw;
  background-color: #007dbc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav {
  background-color: black;
  height: 30px;
  border-radius: 3px;
  color: white;
  width: 113px;
  margin: 1rem;
}
.titleHeaderBlack {
  position: absolute;
  color: white;
  top: 2px;
}

.titleContainer {
  color: #183f35;
  width: 360px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleFatherContainer {
  color: #183f35;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
}

.iconNav {
  width: 60px;
}

.iconNav.home {
  width: 120px;
  transition: 400ms;
  
 
}
.iconNav.home:hover{
  scale:1.2
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

}
nav>h2{
  
  font-size: 30px;
}

.whiteContainer {
  width: 100vw;
  height: 1vh;
  background-color: white;
}

.iconLogout {
  transform: scale(0.8);
  width: 120px;
  height: 120px;
  object-fit:cover;
 
 
  transition: 400ms;
  
}
.iconLogout:hover{
 

  scale: 1.2;
}
.profileCircle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: solid black 4px;
  transition: 400ms;
}
.imagenAvatar:hover{
  scale:1.2
  
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDashBoard {
  
  color: black;
  width: 100px;
  height: 100px;
  
  transition: 400ms;
}
.iconDashBoard:hover{
  scale:1.2
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  .logo {
    width: 50px;
  }
  .titleFatherContainer {
    width: 263px;
  }
}
