/* Estilo para el estado 'pendiente' */
.estado-pendiente {
    color: rgb(224, 162, 75); /* Amarillo anaranjado */
  }
  
  /* Estilo para el estado 'cancelado' */
  .estado-cancelado {
    color: red; /* Rojo */
  }
  
  /* Estilo para el estado 'confirmado' */
  .estado-confirmado {
    color: green; /* Verde */
  }
  
 