.titulo{
    color: #003a57;
    font-size: 40px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #007dbc 0px 0px 20px, #007dbc 0px 0px 30px, #007dbc 0px 0px 40px, -40px 33px 11px rgba(0,130,195,0);
} 